@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<style>

    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    .flip-card {
        background-color: transparent;
        width: 300px;
        height: 300px;
        perspective: 1000px;
    }

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .flip-card-front {
        background-color: #ffbf00;
        color: white;
    }

    .flip-card-back {
        background-color: #2980b9;
        color: white;
        transform: rotateY(180deg);
    }
</style>

<div class="ftco-blocks-cover-1">
    <div class="site-section-cover overlay" data-stellar-background-ratio="0.5" style="background-image: url('../Content/images/facts2.jpg')">
        <div class="container">
            <div class="row align-items-center ">
                <div class="col-md-5 mt-5 pt-5">
                    <span class=" h2 text-red" style="font-family: 'Caveat Brush', cursive;">Welcome To Wild-HomeLearn</span>
                    <h1 class="mb-3 font-weight-bold text-teal" style="font-family: 'Caveat Brush', cursive;">Interesting Facts</h1>
                    <p class="mt-5"><a href="#start" class="btn btn-primary py-4 btn-custom-1 text-white">Check Facts</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section py-5 bg-warning" id="start">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 d-flex">
                <h2 class="text-white m-0">Hey Kids  <small>- want to learn something new?? Just flip the cards ...</small></h2>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="section" style="padding:0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="~/Content/images/koalas.jpg" alt="Avatar" style="width:100%;height:100%;">
                        </div>
                        <div class="flip-card-back">
                            <img src="~/Content/images/koalas.jpg" alt="Avatar" style="width:150px;height:150px;">
                            <p> Koala</p>
                            <p>Fact: They carry their young babies in a pouch</p>
                        </div>
                    </div>
                </div>
                <h1></h1>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="~/Content/images/animals/echidna.jpg" alt="Avatar" style="width:100%;height:100%;">

                        </div>
                        <div class="flip-card-back">
                            <img src="~/Content/images/animals/echidna.jpg" alt="Avatar" style="width:150px;height:150px;">
                            <p>Echidna</p>
                            <p>Fact: Covered with a prickly coat like a porcupine, roll into small balls to protect themselves when frightened</p>
                        </div>
                    </div>
                </div>
                <h1></h1>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="~/Content/images/animals/devil.jpg" alt="Avatar" style="width:100%;height:100%;">
                        </div>
                        <div class="flip-card-back">
                            <img src="~/Content/images/animals/devil.jpg" alt="Avatar" style="width:150px;height:150px;">
                            <p>Tasmanian Devil </p>
                            <p> Fact: Found only in Tasmania, active during the night with powerful jaws and teeth</p>
                        </div>
                    </div>
                </div>
            </div>
            <h1></h1>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <h1></h1>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="~/Content/images/animals/koka.jpg" alt="Avatar" style="width:100%;height:100%;">
                        </div>
                        <div class="flip-card-back">
                            <img src="~/Content/images/animals/koka.jpg" alt="Avatar" style="width:150px;height:150px;">
                            <p>Kookaburra</p>
                            <p>Fact: World’s largest kingfisher bird, chuckling voice  sounds like human laughter.</p>
                        </div>
                    </div>
                </div>
            </div>
            <h1></h1>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="~/Content/images/animals/emu2.jpg" alt="Avatar" style="width:100%;height:100%;">
                        </div>
                        <div class="flip-card-back">
                            <img src="~/Content/images/animals/emu2.jpg" alt="Avatar" style="width:150px;height:150px;">
                            <p>Emu</p>
                            <p>Fact:  Tallest bird in Australia cannot fly, just like an ostrich, name comes from the Portuguese word ‘ema’ which means large bird</p>
                        </div>
                    </div>
                </div>
            </div>
            <h1></h1>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="~/Content/images/animals/cass.jpg" alt="Avatar" style="width:100%;height:100%;">
                        </div>
                        <div class="flip-card-back">
                            <img src="~/Content/images/animals/cass.jpg" alt="Avatar" style="width:150px;height:150px;">
                            <p>Cassowary</p>
                            <p>Fact: Heaviest flightless bird, he most dangerous bird in the world as it has the most powerful kick.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <h1></h1>
    <div class="container">
        <div class="row">
            <h1></h1>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="~/Content/images/animals/spider.jpg" alt="Avatar" style="width:100%;height:100%;">
                        </div>
                        <div class="flip-card-back">
                            <img src="~/Content/images/animals/spider.jpg" alt="Avatar" style="width:150px;height:150px;">
                            <p>Sydney Funnel-Web Spider</p>
                            <p>Fact: The world’s deadliest spider, injects a deadly poison when it bites and death occurs within an hour.</p>
                        </div>
                    </div>
                </div>
            </div>
            <h1></h1>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="~/Content/images/animals/jellyfish.jpg" alt="Avatar" style="width:100%;height:100%;">
                        </div>
                        <div class="flip-card-back">
                            <img src="~/Content/images/animals/jellyfish.jpg" alt="Avatar" style="width:150px;height:150px;">
                            <p>Australian Box Jellyfish</p>
                            <p>Fact: The most venomous marine animal., with a box-like shape has long tentacles that inject poison when touched</p>
                        </div>
                    </div>
                </div>
            </div>
            <h1></h1>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="~/Content/images/animals/taipan.jpg" alt="Avatar" style="width:100%;height:100%;">
                        </div>
                        <div class="flip-card-back">
                            <img src="~/Content/images/animals/taipan.jpg" alt="Avatar" style="width:150px;height:150px;">
                            <p>Australian Coastal Taipan</p>
                            <p>Fact: Most poisonous snakes, they only attack when feeling threatened</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <h1></h1>
    <div class="container">
        <div class="row">
            <h1></h1>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="~/Content/images/animals/wombat.jpg" alt="Avatar" style="width:100%;height:100%;">
                        </div>
                        <div class="flip-card-back">
                            <img src="~/Content/images/animals/wombat.jpg" alt="Avatar" style="width:150px;height:150px;">
                            <p>Wombat</p>
                            <p>Fact:  One of the native animals to Australia, Wombats feed on grasses, tips of shrubs and bushes</p>
                        </div>
                    </div>
                </div>
            </div>
            <h1></h1>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="~/Content/images/animals/dingo.jpg" alt="Avatar" style="width:100%;height:100%;">
                        </div>
                        <div class="flip-card-back">
                            <img src="~/Content/images/animals/dingo.jpg" alt="Avatar" style="width:150px;height:150px;">
                            <p>Dingo</p>
                            <p>Fact: The biggest carnivorous mammals in Australia, the most part of its life, a dingo stays alone</p>
                        </div>
                    </div>
                </div>
            </div>
            <h1></h1>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="~/Content/images/animals/plat.jpg" alt="Avatar" style="width:100%;height:100%;">
                        </div>
                        <div class="flip-card-back">
                            <img src="~/Content/images/animals/plat.jpg" alt="Avatar" style="width:150px;height:150px;">
                            <p> Platypus </p>
                            <p>Inject poison through spurs in their hind legs when attacked</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Removed this as per mentor feedback-->
        <hr>
        @*
        <div class="site-section py-5 bg-dark">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-12 text-center">
                        <span class="text-cursive h1 text-white d-block">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            Wild Tips
                        </span>
                    </div>
                </div>
                <div id="accordion">
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link" data-toggle="collapse" href="#collapseOne" style="color:#ffc107;">
                                <i class="fa fa-mouse-pointer" aria-hidden="true"></i>   What to do when you see a snake?

                            </a>
                        </div>
                        <div id="collapseOne" class="collapse show" data-parent="#accordion">
                            <div class="card-body">
                                <ul>
                                    <li>
                                        <i class="fa fa-warning"></i>
                                        Yell out Snake!!
                                    </li>
                                    <li>
                                        <i class="fa fa-male"></i>
                                        Freeze for a while..until snake has gone.
                                    </li>
                                    <li>
                                        <i class="fa fa-child" aria-hidden="true"></i>
                                        Back away quietly!
                                    </li>
                                    <li><i class="fa fa-volume-up"></i> Alert Others</li>
                                    <li><i class="fa fa-arrow-right"></i> Wear closed-in shoes to protect your feet and ankles.</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo" style="color:#ffc107;">
                                <i class="fa fa-mouse-pointer" aria-hidden="true"></i>  Should you let your cat go outside?

                            </a>
                        </div>
                        <div id="collapseTwo" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                <ul>
                                    <li>
                                        Depending on where you live, other animals such as dogs and especially other potentially aggressive rival cats are also a potential threat to your cat.
                                    </li>
                                    <li>
                                        Cars are one of the greatest risks to your cat outdoors.
                                    </li>
                                    <li>
                                        Some cats don't kill anything, some cats kill 20 animals a week.
                                    </li>
                                    <li> Cats are now the No. 1 domesticated animals to spread rabies to humans.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</div>
<h1></h1>
