@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="~/MigrateCss/bootstrap.css" rel="stylesheet">
    <link href="~/MigrateCss/fontawesome-all.css" rel="stylesheet">
    <link href="~/MigrateCss/swiper.css" rel="stylesheet">
    <link href="~/MigrateCss/magnific-popup.css" rel="stylesheet">
    <link href="~/MigrateCss/styles.css" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" href="~/MigrateCss/MigrateImages/favicon.png">
    <title></title>
</head>
<body data-spy="scroll" data-target=".fixed-top">

    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-container">
                            <h1>Learn about <span id="js-rotating">Whale Migration, Penguin Migration</span></h1>
                            <a class="btn-solid-lg page-scroll" href="#details">Begin</a>
                        </div>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <hr>
    <div class="site-section py-5 bg-success" id="sec1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 d-flex">
                    <h1 class="text-cursive text-white m-0">
                        Hey Kids!! Lets begin the journey...
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div id="details" class="accordion">
        <div class="area-1">
        </div><!-- end of area-1 on same line and no space between comments to eliminate margin white space --><div class="area-2">

            <!-- Accordion -->
            <div class="accordion-container" id="accordionOne">
                <h2>Lets learn more about Whale migration...</h2>
                <div class="item">
                    <div id="headingOne">
                        <span data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" role="button">
                            <span class="circle-numbering">1</span><span class="accordion-title">Why Whales Migrate ?</span>
                        </span>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionOne">
                        <div class="accordion-body">
                            Most whales migrate to eat and breed. However, during the warm season, whales migrate to cold waters where food is abundant. When the weather becomes colder, the food start to scarce and whales migrate to warmer water for mating and breeding. Whales migrate to different locations according to the place their live
                        </div>
                    </div>
                </div> <!-- end of item -->

                <div class="item">
                    <div id="headingTwo">
                        <span class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" role="button">
                            <span class="circle-numbering">2</span><span class="accordion-title">How Whales Migrate ?</span>
                        </span>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionOne">
                        <div class="accordion-body">
                            During summer months, populations in the southern hemisphere spend their time in Antarctica feeding. In late autumn they begin an annual migratory route to their winter breeding and calving grounds in the warmer tropical waters of the Pacific. They return south in spring.
                        </div>
                    </div>
                </div> <!-- end of item -->

                <div class="item">
                    <div id="headingThree">
                        <span class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" role="button">
                            <span class="circle-numbering">3</span><span class="accordion-title">Interesting facts on Whale Migration</span>
                        </span>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionOne">
                        <div class="accordion-body">
                            An awesome fact - Humpback whales migrate around 5000km on average, one of the longest migratory journeys of any mammal on Earth.
                        </div>
                    </div>
                </div> <!-- end of item -->
            </div> <!-- end of accordion-container -->
            <!-- end of accordion -->

        </div> <!-- end of area-2 -->
    </div> <!-- end of accordion -->
    <!-- end of details 1 -->
    <!-- Details 2 -->
    <hr>
    <div id="projects" class="filter">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>In World we have so many types of whales..Let have a look</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    <!-- Filter -->

                    <div class="grid">
                        <div class="element-item development">
                            <a class="popup-with-move-anim" href="#project-1"><div class="element-item-overlay"><span>Online Banking</span></div><img src="~/MigrateCss/MigrateImages/project-1.jpg" alt="alternative"></a>
                        </div>
                        <div class="element-item development">
                            <a class="popup-with-move-anim" href="#project-2"><div class="element-item-overlay"><span>Classic Industry</span></div><img src="~/MigrateCss/MigrateImages/project-2.jpg" alt="alternative"></a>
                        </div>
                        <div class="element-item design development marketing">
                            <a class="popup-with-move-anim" href="#project-3"><div class="element-item-overlay"><span>BoomBap Audio</span></div><img src="~/MigrateCss/MigrateImages/project-3.jpg" alt="alternative"></a>
                        </div>
                        <div class="element-item design development marketing">
                            <a class="popup-with-move-anim" href="#project-4"><div class="element-item-overlay"><span>Van Moose</span></div><img src="~/MigrateCss/MigrateImages/project-4.jpg" alt="alternative"></a>
                        </div>
                        <div class="element-item design development marketing seo">
                            <a class="popup-with-move-anim" href="#project-5"><div class="element-item-overlay"><span>Joy Moments</span></div><img src="~/MigrateCss/MigrateImages/project-5.jpg" alt="alternative"></a>
                        </div>
                        <div class="element-item design marketing seo">
                            <a class="popup-with-move-anim" href="#project-6"><div class="element-item-overlay"><span>Spark Events</span></div><img src="~/MigrateCss/MigrateImages/project-6.jpg" alt="alternative"></a>
                        </div>
                        <div class="element-item design marketing">
                            <a class="popup-with-move-anim" href="#project-7"><div class="element-item-overlay"><span>Casual Wear</span></div><img src="~/MigrateCss/MigrateImages/project-7.jpg" alt="alternative"></a>
                        </div>
                        <div class="element-item design marketing">
                            <a class="popup-with-move-anim" href="#project-8"><div class="element-item-overlay"><span>Zazoo Apps</span></div><img src="~/MigrateCss/MigrateImages/project-8.jpg" alt="alternative"></a>
                        </div>
                    </div> <!-- end of grid -->
                    <!-- end of filter -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div>
    <hr>
    <div class="tabs">
        <div class="area-1">
            <div class="tabs-container">
                <h2>Lets learn more about Penguin Migration...</h2>
                <!-- Tabs Links -->
                <ul class="nav nav-tabs" id="ariaTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true"><i class="fas fa-th"></i> Why ?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false"><i class="fas fa-th"></i> How ?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-tab-3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false"><i class="fas fa-th"></i>Facts</a>
                    </li>
                </ul>
                <!-- end of tabs links -->
                <!-- Tabs Content -->
                <div class="tab-content" id="ariaTabsContent">

                    <!-- Tab -->
                    <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                        <h4>Why do Penguins Migrate ?</h4>
                        <p>These majestic penguins travel every year to reach preprogrammed, inland spots for nesting. Migration, such as this penguin ritual, allows animals to move from place to place to meet survival needs. Like the migration of birds who fly south for the winter, Emperor penguins migrate every year.</p>



                    </div> <!-- end of tab-pane -->
                    <!-- end of tab -->
                    <!-- Tab -->
                    <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                        <h4>How Penguins Migrate ?</h4>
                        <p>The emperor penguins travel 60-100 miles inland to their designated  breeding sites. All of the colonies go to the same place and arrive around the same time. They start in the beginning of March and the migration should  end by the end of March. They always take a different path because the ice shifts and places new obstacles in their way. </p>

                    </div> <!-- end of tab-pane -->
                    <!-- end of tab -->
                    <!-- Tab -->
                    <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
                        <p><strong>Some amazing facts - Penguins spend around half their time in water and the other half on land </strong></p>
                    </div> <!-- end of tab-pane -->
                    <!-- end of tab -->

                </div> <!-- end of tab-content -->
                <!-- end of tabs content -->

            </div> <!-- end of tabs-container -->
        </div><!-- end of area-1 on same line and no space between comments to eliminate margin white space --><div class="area-2"></div> <!-- end of area-2 -->
    </div> <!-- end of tabs -->
    <hr>


    <div id="projects" class="filter">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Penguins are one of the cutest creatures...lets have a look how many types of them are there..</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    <!-- Filter -->
                    <!-- end of button group -->
                    <div class="grid">
                        <div class="element-item development">
                            <a class="popup-with-move-anim" href="#project-1"><div class="element-item-overlay"><span>African Penguin</span></div><img src="~/MigrateCss/MigrateImages/african.jpg" alt="alternative"></a>
                        </div>
                        <div class="element-item development">
                            <a class="popup-with-move-anim" href="#project-2"><div class="element-item-overlay"><span>Northern rockhopper penguin</span></div><img src="~/MigrateCss/MigrateImages/northern.jpg" alt="alternative"></a>
                        </div>
                        <div class="element-item design development marketing">
                            <a class="popup-with-move-anim" href="#project-3"><div class="element-item-overlay"><span>King Penguin</span></div><img src="~/MigrateCss/MigrateImages/king.jpg" alt="alternative"></a>
                        </div>
                        <div class="element-item design development marketing">
                            <a class="popup-with-move-anim" href="#project-4"><div class="element-item-overlay"><span>Adélie penguin</span></div><img src="~/MigrateCss/MigrateImages/adele.jpg" alt="alternative"></a>
                        </div>
                        <div class="element-item design development marketing seo">
                            <a class="popup-with-move-anim" href="#project-5"><div class="element-item-overlay"><span>Fairy penguin</span></div><img src="~/MigrateCss/MigrateImages/fairy.jpg" alt="alternative"></a>
                        </div>
                        <div class="element-item design marketing seo">
                            <a class="popup-with-move-anim" href="#project-6"><div class="element-item-overlay"><span>Yellow-eyed penguin</span></div><img src="~/MigrateCss/MigrateImages/yellow.jpg" alt="alternative"></a>
                        </div>
                        <div class="element-item design marketing">
                            <a class="popup-with-move-anim" href="#project-7"><div class="element-item-overlay"><span>Chinstrap penguin</span></div><img src="~/MigrateCss/MigrateImages/chin.jpg" alt="alternative"></a>
                        </div>
                        <div class="element-item design marketing">
                            <a class="popup-with-move-anim" href="#project-8"><div class="element-item-overlay"><span>Magellanic penguin</span></div><img src="~/MigrateCss/MigrateImages/mage.jpg" alt="alternative"></a>
                        </div>
                    </div> <!-- end of grid -->
                    <!-- end of filter -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of filter -->
    <!-- end of projects -->
    <!-- Project Lightboxes -->
    <!-- Lightbox -->
    <div id="project-1" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="~/MigrateCss/MigrateImages/african.jpg" alt="alternative">
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <h3>African penguin</h3>
                <hr class="line-heading">
                <div class="testimonial-container">
                    <p class="testimonial-text">African black-footed penguins (Spheniscus demersus) are the only species of penguin native to Africa, living only in South Africa and Namibia. They use their noisy birdsong to identify each other, find a mate and ask for food.</p>
                </div>
                <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->
    <!-- Lightbox -->
    <div id="project-2" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="~/MigrateCss/MigrateImages/northern.jpg" alt="alternative">
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <h3>Northern rockhopper penguin</h3>
                <hr class="line-heading">
                <div class="testimonial-container">
                    <p class="testimonial-text">Northern rockhoppers (Eudyptes moseleyi) are native to Tristan da Cunha and Gough Island. Inhabiting naturally uninhabited islands, these little birds have little fear of humans and treat us with curiosity - all they want is your love and respect.</p>
                </div>
                <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->
    <!-- Lightbox -->
    <div id="project-3" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="~/MigrateCss/MigrateImages/king.jpg" alt="alternative">
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <h3>King penguin</h3>
                <hr class="line-heading">
                <div class="testimonial-container">
                    <p class="testimonial-text">Need a solid foundation for your business growth plans? Aria will help you manage sales and meet your current requirements.</p>
                </div>
                <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->
    <!-- Lightbox -->
    <div id="project-4" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="~/MigrateCss/MigrateImages/adele.jpg" alt="alternative">
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <h3>Adélie penguin</h3>
                <hr class="line-heading">
                <div class="testimonial-container">
                    <p class="testimonial-text">For many people, Adélie penguins (Pygoscelis adeliae) are by far the cutest species, but did you know that these Antarctic predators are one of the region's most fierce hunters. Unfortunately, climate change is affecting their food source and thousands of their chicks starve every year.</p>
                </div>
                <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->
    <!-- Lightbox -->
    <div id="project-5" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="~/MigrateCss/MigrateImages/fairy.jpg" alt="alternative">
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <h3>Fairy penguin</h3>
                <hr class="line-heading">
                <div class="testimonial-container">
                    <p class="testimonial-text">Fairy penguins (Eudyptula minor minor), also known as southern little penguins, inhabit the western and southeastern coasts of the southern island of New Zealand. Fairy penguins and other little penguin subspecies are the smallest penguins on the planet, and the only ones with blue eyes and feathers.</p>
                </div>
                <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->
    <!-- Lightbox -->
    <div id="project-6" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="~/MigrateCss/MigrateImages/yellow.jpg" alt="alternative">
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <h3>Yellow-eyed penguin</h3>
                <hr class="line-heading">
                <div class="testimonial-container">
                    <p class="testimonial-text">The uninspiringly-named yellow-eyed penguins (Megadyptes antipodes) call New Zealand's South Island home, where they are known as "hoiho" - Maori for "noise shouter". With fewer than 3 400 of these penguins remaining, they are the species facing the most critical risk of extinction in the very near future.</p>
                </div>
                <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->
    <!-- Lightbox -->
    <div id="project-7" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="~/MigrateCss/MigrateImages/chin.jpg" alt="alternative">
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <h3>Chinstrap penguin</h3>
                <hr class="line-heading">
                <div class="testimonial-container">
                    <p class="testimonial-text">Chinstrap penguins (Pygoscelis antarcticus) call the shores of Antarctica and several Pacific and Southern Ocean islands home. Not only do chinstrap penguins look like they are wearing little army helmets all the time, but they are the most common penguin on Antarctica - with almost 13 million individuals.</p>
                </div>
                <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->
    <!-- Lightbox -->
    <div id="project-8" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="~/MigrateCss/MigrateImages/mage.jpg" alt="alternative">
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <h3>Magellanic penguin</h3>
                <hr class="line-heading">
                <div class="testimonial-container">
                    <p class="testimonial-text">Magellanic penguins (Spheniscus magellanicus) look very similar to African penguins, but they have a dark black neck stripe which distinguishes them from their African cousins. They inhabit the southern coasts of South America, but do occasionally nest as far north as Brazil. Unlike their African counterparts, Magellanic penguins actively hunt jellyfish!</p>
                </div>
                <a class="btn-outline-reg mfp-close as-button" href="#projects">BACK</a>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->
    <!-- end of project lightboxes -->
    <!-- About -->
    @*<div id="about" class="counter">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-xl-6">
                        <div class="image-container">
                            <img class="img-fluid" src="~/MigrateCss/MigrateImages/about.jpg" alt="alternative">
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-7 col-xl-6">
                        <div class="text-container">
                            <div class="section-title">ABOUT</div>
                            <h2>We're Passionate About Delivering Growth Services</h2>
                            <p>Our goal is to provide the right business growth services at the appropriate time so companies can benefit from the created momentum and thrive for a long period of time</p>
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Everything we recommend has direct positive impact</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">You will become an important partner of our company</div>
                                </li>
                            </ul>

                            <!-- Counter -->
                            <div id="counter">
                                <div class="cell">
                                    <div class="counter-value number-count" data-count="231">1</div>
                                    <div class="counter-info">Happy<br>Users</div>
                                </div>
                                <div class="cell">
                                    <div class="counter-value number-count" data-count="121">1</div>
                                    <div class="counter-info">Issues<br>Solved</div>
                                </div>
                                <div class="cell">
                                    <div class="counter-value number-count" data-count="159">1</div>
                                    <div class="counter-info">Good<br>Reviews</div>
                                </div>
                            </div>
                            <!-- end of counter -->

                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div>*@ <!-- end of counter -->
    <!-- end of about -->
    <hr>
    <div class="site-section py-5 bg-success" id="sec1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 d-flex">
                    <h1 class="text-cursive text-white m-0">
                        Lets look at the map for migration patterns..
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <!-- Scripts -->
    <script src="~/MigrateJs/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="~/MigrateJs/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="~/MigrateJs/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="~/MigrateJs/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="~/MigrateJs/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="~/MigrateJs/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="~/MigrateJs/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
    <script src="~/MigrateJs/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
    <script src="~/MigrateJs/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script>
        /* Counter - CountTo */
        var a = 0;
        $(window).scroll(function () {
            if ($('#counter').length) { // checking if CountTo section exists in the page, if not it will not run the script and avoid errors
                var oTop = $('#counter').offset().top - window.innerHeight;
                if (a == 0 && $(window).scrollTop() > oTop) {
                    $('.counter-value').each(function () {
                        var $this = $(this),
                            countTo = $this.attr('data-count');
                        $({
                            countNum: $this.text()
                        }).animate({
                            countNum: countTo
                        },
                            {
                                duration: 2000,
                                easing: 'swing',
                                step: function () {
                                    $this.text(Math.floor(this.countNum));
                                },
                                complete: function () {
                                    $this.text(this.countNum);
                                    //alert('finished');
                                }
                            });
                    });
                    a = 1;
                }
            }
        });
    </script>
    <script src="~/MigrateJs/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>
