@import url('https://fonts.googleapis.com/css?family=Caveat+Brush');

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}



.container1 {
    height: 60vh;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.column {
    width: 33%;
    height: 100%;
    position: relative;
    background: #fff;
    border-radius: 16px;
    margin: 1%;
}

.column1 {
    width: 33%;
    height: 100%;
    position: relative;
    background: #fff;
    border-radius: 16px;
    margin: 1%;
}

img {
    max-width: 100%;
    max-height: 100%;
}


h1 {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    margin: 4.5% 0;
    font-size: 3vw;
}

h2 {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    margin: 1.5% 0;
    font-size: 3vw;
}

.red-text {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    margin: 1.5% 0;
    font-size: 3vw;
    color: #c9302c;
}

.cookie {
    height: 15vh;
    width: 10vh;
    margin: 0 auto;
    position: relative;
    /*   transition: filter 0.5s ease; */
}

    .cookie:hover {
        filter: drop-shadow(0 -5px 10px rgba(0,0,0,0.5));
    }

#toPrint li {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    list-style-position: inside;
    font-size: 2vw;
}

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

    #wrapper button {
        padding: 12px 20px;
    }
